@import "./variables/global";
@import "./reset";
@import "./themes/normal";
@import "./themes/dark";

.app,
.app_modal,
.app_error {
    min-height: 100vh;
    background: var(--bg-color);
    font: var(--font-m);
    color: var(--primary-color);
}

.pink {
    border: 2px solid pink;
}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 4px 10px 8px;
}
