.Button {
    cursor: pointer;
    color: var(--inverted-primary-color);
}

.clear {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    outline: none;
}

.funky {
    border: 3px solid var(--inverted-secondary-color);
    border-radius: 8px;
    padding: 4px;
    background: var(--inverted-bg-color);
}

.outline {
    padding: 10px 15px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
}
