.Button {
    cursor: pointer;
    color: var(--secondary-color);

    &:focus {
        color: var(--inverted-secondary-color);
        outline: none;
        border-color: var(--inverted-secondary-color);
    }
}

.fakeBtn {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.clear {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.funky {
    border: 3px solid var(--inverted-secondary-color);
    border-radius: 8px;
    padding: 4px;
    color: var(--inverted-primary-color);
    background: var(--inverted-bg-color);
}

.outline {
    padding: 4px 12px;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    background: none;
}

.small {
    font: var(--font-s);
}

.medium {
    font: var(--font-m);
}

.large {
    font: var(--font-l);
}

.Xlarge {
    font: var(--font-xl);
}

.square.small {
    width: var(--font-size-s);
    height: var(--font-size-s);
}

.square.medium {
    width: var(--font-size-m);
    height: var(--font-size-m);
}

.square.large {
    width: var(--font-size-l);
    height: var(--font-size-l);
}

.square.Xlarge {
    width: var(--font-size-xl);
    height: var(--font-size-xl);
}

.primary {
    color: var(--primary-color);
    border-color: var(--primary-color);

    &:focus {
        color: var(--secondary-color);
        border-color: var(--secondary-color);
    }
}

.secondary {
    color: var(--secondary-color);
    border-color: var(--secondary-color);

    &:focus {
        color: var(--inverted-secondary-color);
        border-color: var(--inverted-secondary-color);
    }
}

.primaryInverted {
    color: var(--inverted-primary-color);
    border-color: var(--inverted-primary-color);

    &:focus {
        color: var(--inverted-secondary-color);
        border-color: var(--inverted-secondary-color);
    }
}

.secondaryInverted {
    color: var(--inverted-secondary-color);
    border-color: var(--inverted-secondary-color);

    &:focus {
        color: var(--secondary-color);
        border-color: var(--secondary-color);
    }
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
}
