.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background-color: var(--inverted-bg-color);
    position: relative;
    display: flex;
    flex-direction: column;
    transition: width 0.4s;
    padding: 4px 10px 8px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    align-items: start;
    margin-top: 30px;
    margin-left: calc(var(--sidebar-width-collapsed) / 2 - 25px);
}

.switchers {
    margin-bottom: 12px;
    margin-top: auto;
    display: flex;
    gap: 8px;
    flex-direction: column;
    justify-content: center;
}

.toggle {
    align-self: end;
    color: var(--inverted-secondary-color);
    font-size: var(--font-size-xl);
}

.toggle:focus {
    color: var(--secondary-color);
    outline: none;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}
