.app_dark_theme {
    --bg-color: #0a009b;
    --inverted-bg-color: #d1d1e9;
    --primary-color: #2b8d22;
    --secondary-color: #9cb324;
    --inverted-primary-color: #7b2ee0;
    --inverted-secondary-color: #c551c9;
}
